Model/full_size_model/256px_full_size.pt filter=lfs diff=lfs merge=lfs -text
Model/pruned_model/content_aware_pruned_0.7_256px_model_2022-09-29_05:11:05.pth filter=lfs diff=lfs merge=lfs -text
Model/pruned_model/049999.pt filter=lfs diff=lfs merge=lfs -text
